.form-field select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url('./../../../assets/fallout-arrow.svg');
    background-repeat: no-repeat;
    background-position: right 8px center;
    background-size: 20px;
    cursor: pointer;
  }
  
  .select-wrapper {
    position: relative;
    display: inline-block;
    width: 242px;
    cursor: pointer;
  }
  
  .select-wrapper:after {
    content: '';
    position: absolute;
    pointer-events: none;
    width: 20px;
    height: 20px;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    background-image: url('./../../../assets/fallout-arrow.svg');
    background-size: 20px 20px;
    background-repeat: no-repeat;
  }

  @media (max-width: 1360px) {
    .select-wrapper {
      width: 335px;
    }
  }